  <ul class="nav nav-pills" id="loginTab">
    <li class="active"><a href="#qrcode" data-toggle="tab">QRcode</a></li>
    <li><a href="#manual" data-toggle="tab">Manual</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="qrcode">
      <div class="spacer40"></div>
      <h3>Scan this QRcode with your BitID enabled mobile wallet.</h3>
      <p>You can also click on the QRcode if you have a BitID enabled desktop wallet.
      <div class="spacer20"></div>
      <%= link_to image_tag(@bitid.qrcode, border:0, alt:'Click on QRcode to activate compatible desktop wallet', align:'center'), @bitid.uri.to_s %>
      <div class="spacer40"></div>
      <p>No compatible wallet ? Use <a id="gomanual" href="#">manual signing</a>.</p>
    </div>
    <div class="tab-pane" id="manual">
      <div class="spacer50"></div>
      <h3>Manual signing</h3>
      <p>The user experience is quite combersome, but it has the advangage of being compatible with all wallets
      including Bitcoin Core.</p>
      <p>Please sign the challenge in the box below using the private key of this Bitcoin address you want to
      identify yourself with. Copy the text, open your wallet, choose your Bitcoin address, select the sign message
      function, paste the text into the message input and sign. After it is done, copy and paste the signature 
      into the field below.</p>
      <p>Cumbersome. Yep. Much better with a simple scan or click using a compatible wallet :)</p>
      <pre><%= @bitid.message %></pre>
      <div class="form-group">
        <label>Bitcoin address</label>
        <input type="text" name="address" id="address" class="form-control" placeholder="Enter your public Bitcoin address">
      </div>
      <div class="form-group">
        <label>Signature</label>
        <input type="text" name="signature" id="signature" class="form-control" placeholder="Enter the signature">
      </div>
      <button id="check" class="btn btn-success" data-loading-text="Verifying signature">Sign in !</button>
      <div class="spacer40"></div>
      <p>You can also simulate the response of the wallet by executing the following API call :</p>
      <pre id="curl"/>
    </div>
  </div>

<script>
  $(function () {
    $('#loginTab a:first').tab('show')
    $('#gomanual').on('click', function() {
      $('#loginTab a[href="#manual"]').tab('show');
    });
    $('#check').on('click', function() {
      confirmSignature();
    });
    timeStart = new Date().getTime();
    setTimeout(checkForAuth, 1000);
    $("#address").on("input", setCurl);
    $("#signature").on("input", setCurl);
    setCurl();
  });
  function setCurl() {
    $("#curl").html("curl -X POST <%= callback_index_url.gsub("/", "\\/") %> \\\n"
+ "  --header \"Content-Type: application/json\" \\\n"
+ "  --data '{\"uri\" : \"<%= @bitid.uri.to_s %>\", \n"
+ "    \"address\" : \"" + $("#address").val() + "\", \n"
+ "    \"signature\" : \"" + $("#signature").val() + "\"}'");
  }
  function confirmSignature() {
    $("#check").button('loading');
    $.ajax({
      url: "<%= callback_index_path %>",
      data: {uri: '<%= raw @bitid.uri.to_s %>', address: $('#address').val(), signature: $('#signature').val()},
      type: "post",
      error: function(data) {
        $("#check").button('reset');
        alert("Error : " + JSON.parse(data.responseText).message);
      }
    });
  }
  function checkForAuth() {
    $.ajax({
      url: "<%= auth_path %>",
      type: "get",
      success: function(data) {
        if (data.auth == 1) {
          window.location = '/user';
        }
      }
    });    
    if (new Date().getTime() - timeStart < 60*10*1000) {
      setTimeout(checkForAuth, 1000);
    }
  }
</script>