<!DOCTYPE html>
<html>
<head>
  <title>BitID Open Protocol - Demonstration site</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="//www.ledgerwallet.com/lib/ledger.js"></script>
</head>
<body>

  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="/login">Demonstration</a></li>
        <li><a href="https://github.com/bitid/bitid-demo">GitHub</a></li>
        <li><a href="https://github.com/bitid/bitid/blob/master/BIP_draft.md">BIP draft</a></li>
        <% if current_user %>
          <li><a href="/user"><%= current_user.name || current_user.btc %></a></li>
        <% end %>
      </ul>
      <h3><a class="text-muted" style="text-decoration: none;" href="/">BitID</a></h3>
    </div>

    <%= yield %>

  </div> 

</body>
</html>
